--swiftversion 6.0
--indent 4
--maxwidth 140
--wraparguments before-first
--wrapparameters before-first
--commas always
--stripunusedargs closure-only
--ifdef no-indent
--disable blankLinesAtStartOfScope
--exclude Packages/.build
--exclude .derivedData
--exclude .swiftpm
